.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 10rem;
  min-height: 90vh;
}

.subtitle{
  font-size: 30px;
}

.p {
  color: var(--text-muted);
  font-size: 20px;
  margin-bottom: 15px;
}

.icon {
  color: #09f;
  width: 10rem;
  height: 10rem;
}

.errorButton {
  background: #09f;
}